REACT_APP_API_URL=http://localhost:5000
REACT_APP_POWERBI_AGENT_DASHBOARD_URL=https://app.powerbi.com/view?r=eyJrIjoiOTJhZjA4MDgtOTE0YS00YTBkLWI5ZTAtMDYzZGRhZmJjODQ2IiwidCI6ImRiZDY2NjRkLTRlYjktNDZlYi05OWQ4LTVjNDNiYTE1M2M2MSIsImMiOjl9
REACT_APP_POWERBI_AGENT_DASHBOARD_TITLE=KPI agent bancaire Power BI
